<!DOCTYPE html>
<html lang="en">
                <!--Head-->
    <%- include("./partials/head") %>

    <body>
        <%- include("./partials/header") %>


        <main>
        <div class="d-flex justify-content-center">
            <div class="card w-30">
                <div class="card-body">

                    

                    <h2 align="center">Entrar</h2>

                    <form action="/users/login" method="POST">

                        <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="text" name="email" class="form-control" placeholder="Ingrese su Email" value="<%= locals.oldData ? oldData.email :null %>" > 
                        <% if (locals.errors && locals.errors.email){  %> 
                            <h7> <%=errors.nombre.msg %> 
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-diamond-fill" viewBox="0 0 16 16">
                                <path d="M9.05.435c-.58-.58-1.52-.58-2.1 0L.436 6.95c-.58.58-.58 1.519 0 2.098l6.516 6.516c.58.58 1.519.58 2.098 0l6.516-6.516c.58-.58.58-1.519 0-2.098L9.05.435zM8 4c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995A.905.905 0 0 1 8 4zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                                </svg>
                                <%=errors.email.msg %>
                            </h7>
                            <% } %> 
                        </div>

                        <div class="mb-3">
                        <label for="Contraseña" class="form-label">Contraseña</label>
                        <input type="password" name="password" class="form-control" placeholder="Ingrese su contraseña" >                        
                        <% if (locals.errors && locals.errors.password){  %>  
                            <h7> <%=errors.apellido.msg %>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-diamond-fill" viewBox="0 0 16 16">
                                <path d="M9.05.435c-.58-.58-1.52-.58-2.1 0L.436 6.95c-.58.58-.58 1.519 0 2.098l6.516 6.516c.58.58 1.519.58 2.098 0l6.516-6.516c.58-.58.58-1.519 0-2.098L9.05.435zM8 4c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995A.905.905 0 0 1 8 4zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                                </svg>
                                <%=errors.password.msg %>
                            </h7>
                            <% } %> 
                        </div>


                        <div id="emailHelp" class="form-text">Recuerda nunca pasar tus datos personales a nadie.</div>
        
        
                        
                        <button type="submit" class="btn btn-primary">Entrar</button>
                        <a href="/users/registro">
                            <div class="btn btn-success">Registrarse</div>
                        </a>
                    </form>
                </div>
              </div>
              
        </div>
        </main>
    </body>
        <%- include("./partials/footer") %>
</html>